build
/Image processing/image_processing_data.xlsx
/Image processing/img_task1_report.doc
/Image processing/img_task1_report.pdf
/Image processing/report_1 (1).doc
/Image processing/tasks.txt
/Image processing/report 2.pdf
_build
/OOP/xother_stuff/Diagram1.dia.autosave
/OOP/xother_stuff/Diagram1.dia~
/OOP/xother_stuff/Diagram1.png
